.navbar {
    padding: .5rem;
  }

.btn-primary:hover {
    background-color: white;
    color: black;
}

.hero-background-img {
    background-image: url("casino.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:200px;
    padding-bottom:200px;
  }

  /* .hero-background-img {
    background-image: url("casino.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  } */
